* {
  margin: 0;
  padding: 0;
}
.header {
  height: 80px;
  background-color: brown;
  text-align: center;
  color: aliceblue;
}
.ourCounter {
  height: 50px;
  background-color: aqua;
  border-radius: 25%;
}
